{% extends 'base.html' %}


{% block mainTitleSpan %}
<h1></h1>
{% endblock %}


{% block crumbs %}
<li class="breadcrumb-item active"></li>
{% endblock %}


{% block body %}

<section class="section">
    <div class="row">
        <div class="col-lg-12">
            <div class="jumbotron">
                <h1 class="display-4">Welcome!</h1>
                <p class="lead">TODO Text here</p>

                <hr class="my-4">
                <p>For more information contact the author: sean.davey@tietoevry.com</p>

                <hr class="my-4">


            </div>
        </div>
    </div>
</section>

{% endblock %}
